{% extends "base.html" %}
{% block header_styles %}
<style>
    div.err, ul.errorlist {
        margin-right: 5em;
        padding: 0.5em;
        border-left: solid #990000 3px;
        color: #990000;
    }

</style>
{% endblock %}
{% block content %}
<div class="container-fluid">
  <div class=" text-center">
<h3>Change password for {{ user.username }}</h3>
</div>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <button class="btn btn-large btn-primary">Submit</button>
</form>
</div>
{% endblock %}

{% block footer_js %}
<!-- fix bootstrap styling -->
<script>
$(function(){
  $("input").addClass("form-control");
});
</script>
{% endblock  %}
