{% extends "base.html" %}
{% block header_styles %}
<style>
    div.err {
        margin-right: 5em;
        padding: 0.5em;
        border-left: solid #990000 3px;
        color: #990000;
    }
    .status-wrapper {
        padding: 1em
    }
    .field-wrapper {
        
    }
</style>
{% endblock %}
{% block content %}
<div class="container-fluid">

<form class="form-horizontal" id="userform" style="padding: 0 5em;">
      <div class="form-group text-center status-wrapper">
        
        <span id="status" class="label label-primary">
           Please Register your account below; or <a href="{% url 'rest_framework:login' %}"
           >Login</a>.
       </span>
        
    </div>
    <!-- get csrf from cookie {% csrf_token %}-->
    <div class="form-group" >
      <label class="col-sm-2" for="first_name">First Name</label>
      <div class="col-sm-4 field-wrapper">
        <input type="text" name="first_name" id="first_name"/>
      </div>
    <!--</div>
    <div class="form-group" >-->
      <label class="col-sm-2" for="last_name">Last Name</label>
      <div class="col-sm-4 field-wrapper">
        <input type="text" name="last_name" id="last_name"/>
      </div>
    </div>
    <div class="form-group" >
      <label class="col-sm-2" for="username">Username *</label>
      <div class="col-sm-4 field-wrapper">
        <input type="text" name="username" id="username"/>
      </div>
    <!-- </div><div class="form-group"> -->
      <label class="col-sm-2" for="password">Password *</label>
       <div class="col-sm-4 field-wrapper">
        <input type="text" name="password" id="password"/>
        </div>
    </div>
    <div class="form-group" >
      <label class="col-sm-2" for="email">Email</label>
      <div class="col-sm-4 field-wrapper">
        <input type="text"name="email" id="email"/>
      </div>
      <div class="col-sm-6"></div>
    </div>
   
    <div class="form-group" >
    
    <!-- TODO: Also check for role, in case a Driver hacks his way here ;) -->
    <div class="col-sm-4">
        <input class="btn btn-primary" type="submit" value="Submit">
    </div>
    <small class="text-right col-sm-8"><b>* - required</b></small>
   
    
</form>
{% endblock %}